<mat-toolbar color="primary">
  Angular Auth With FireBase

  <span fxFlex></span>

  <ng-container *ngIf="!(authenticated$ | async)">
    <button mat-raised-button  routerLink="/auth/login"><mat-icon>input</mat-icon>&nbsp;Entrar</button>&nbsp;
    <button mat-raised-button  routerLink="/auth/register"><mat-icon>person_add</mat-icon>&nbsp;Registrar</button>
  </ng-container>


  <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
    <button mat-icon-button routerLink="/main/people">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>


    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu xPosition="before" [overlapTrigger]="false" 
              #profileMenu="matMenu" class="before">
      <p class="username">{{(user$|async)?.email}}</p>
      <mat-divider></mat-divider>

      <button mat-menu-item >
        <mat-icon>exit_to_app</mat-icon>
        Exit
      </button>
    </mat-menu>


  </ng-container>  

</mat-toolbar>

<router-outlet></router-outlet>